html, body {
height: 100%;
width: 100%;
margin: 0;
padding: 0;
background-color: #FFFFFF;
font-family: 'Raleway';
}
.top {
  background-color: #eba7a7;
  height: 200px;
  margin:0;
  padding:0;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, .20);
}

.form {
  height: 1000px;
  width: 400px;
  text-align: center;
  background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
  margin: -110px auto;
  border-radius: 10px;
  color: #666;
  padding: 0px 0px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.info {
  padding: 20px;
}

h1, h2, p {
  text-align: center;
  padding: 0px;
  margin: 5px 5px;
}

.p2 {
  text-align: center;
  padding: 0px;
  margin: 5px 5px;
  position: relative;
}

h2 {
  font-family: 'Great Vibes', cursive;
  font-weight: 100;
}

p.line {
  margin: 0px auto 20px auto;
  color: #999;
}

.form input {
  font-size: 15px;
  color: #666;
  padding: 6px;
  margin: 25px auto 20px;
  display: block;
  width: 75%;
}

input:focus {
  outline: 0;
}

input[type=text]:focus {
  border: 3px solid #555;
}

.button button {
  display: inline-block;
  width: 400px;
}
button {
  color: #666;
  background-color: #ffbdc7;
  border: none;
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: 600;
  padding: 15px 32px;
  width: 400px;
  float:left;
}

label {0
  position: absolute;
  top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  bottom: 30px;
}

button.accept {
  border-radius: 0px 0px 0px 10px;
}

button.regret {
  border-radius: 0px 0px 10px 0px;
}

button:hover {
  background-color: #cc919a;
  transition: .5s;
}

button:focus {
  outline: 0;
}

.thankyou {
  height: 200px;
  width: 400px;
  background-color: #fff;
  margin: -110px auto;
  border-radius: 10px;
  color: #666;
  padding: 20px;
  text-align: center;
}
  #p01 {
    font-size:250%;
    color:#ffbdc7;
    font-family: 'Great Vibes', cursive;
    padding-top: 30px;
    font-weight: bold;
  }
  #p02 {
    font-size:250%;
    color:#ffbdc7;
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
  }
  #vegetarian {
    list-style:none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  #vegan {
    list-style:none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  #carnivore {
    list-style:none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

  }