<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Annie and Habeeb's Wedding RSVP</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>

    <body>
<div class="top">
</div>
<div class="form">
  <div class ="info">
  <h1>RSVP</h1>
  <h2>for the wedding of</h2>
  <h1>Annie & Habeeb</h1>
    <p class= "line">________________________________________</p>
    <h2>The Details</h2>
    <p>Saturday, May 2, 2020</p>
    <p>Ceremony @ 1:00 PM</p>

    <br>
    <h2>Ceremony & Reception</h2>
    <p>Church: <a href="https://www.google.com/maps/dir/51.5461853,-0.2944762/Hampstead+Parish+Church,+Church+Row,+London,+NW3+6UU/@51.559005,-0.3093922,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x48761a8712a80a53:0x971ec79c9160cac8!2m2!1d-0.1810877!2d51.5553307">Hampstead Parish Church, Church Row, London, NW3 6UU</p></a>
    <p>Reception: Samuel Pepys, 48 Upper Thames St, London EC4V 3PT</p>
         <p class= "line">________________________________________</p>

  <form method="post" action="{{ url_for('success') }}">
    <legend></legend><p2><em>What is your full name?</em></p2></legend>
    <input name="name" input type="text" placeholder="Name(s)" required>
    <legend></legend><p2><em>What is your email address?</em></p2></legend>
    <input name="email" input type="text" placeholder="Email address" required>
   	<legend></legend><p2><em>Are you a vegetarian, vegan or carnivore?</em></p2></legend>
    <input name="foodpreference" input type="text" placeholder="Food Preference" required>
    <legend></legend><p2><em>Can you make it to our special day?</em></p2></legend>
    <input name="rsvp" input type="text" placeholder="Please reply Yes/No" required>
    <input type="hidden" id="when" name="when" value="{{when}}">
  </div>
    <button class ="accept">Submit</button>
</div>
  </form>
      </body>

</html>
