<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Annie and Habeeb's Wedding RSVP</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap" rel="stylesheet">

  </head>
    <body>
<div class="top">
</div>
<div class="form">
  <div class ="info">
  <h1>RSVP</h1>
  <h2>for the wedding of</h2>
  <h1>Annie & Habeeb</h1>
    <p class= "line">________________________________________</p>
    <h2>The Details</h2>
    <p>Saturday, May 2, 2020</p>
    <p>Ceremony starts @ 1:30 PM</p>

    <br>
    <h2>Ceremony & Reception</h2>
    <p><b>Church:</b> Hampstead Parish Church, Church Row, London, NW3 6UU</p></a>
  <p><b>Reception:</b> Samuel Pepys, 48 Upper Thames St, London EC4V 3PT</p>
         <p class= "line">________________________________________</p>

  <form method="post" action="{{ url_for('success') }}">
    <legend></legend><p2>What is/are your full name(s)?</p2></legend>
    <input name="name" input type="text" placeholder="Name(s)" required>
    <legend></legend><p2>What is your email address?</p2></legend>
    <input name="email" input type="text" placeholder="Email address" required>
    <legend></legend><p2>Do you have any dietary restrictions or allergies?</p2></legend>
    <input name="foodpreference" input type="text" placeholder="Food preference" required>
    <legend></legend><p2>Can you make it to our special day?</p2></legend>
    <input name="rsvp" input type="text" placeholder="Please reply Yes/No" required>
    <input type="hidden" id="when" name="when" value="{{when}}">
  </div>
    <button class ="accept">Submit</button>

</div>
  </form>
      </body>

</html>