<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Annie and Habeeb's Wedding RSVP</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>

    <body>
<div class="top">
</div>
<div class="form">
  <div class ="info">
  <h1>RSVP</h1>
  <h2>for the evening reception of</h2>
  <h1>Annie & Habeeb's wedding</h1>
    <p class= "line">________________________________________</p>
    <h2>Date and Time</h2>
    <p>Saturday, May 2, 2020</p>
    <p>7:30 PM</p>
    <br>
    <h2>Ceremony & Evening Reception Details</h2>
    <p>Please feel free to come to the Church to celebrate the ceremony with us.</p>
    <p>Church: Hampstead Parish Church, Church Row, London, NW3 6UU</p>
    <p>Reception: Samuel Pepys, 48 Upper Thames St, London EC4V 3PT</p>
         <p class= "line">________________________________________</p>

  <form method="post" action="{{ url_for('success') }}">
    <legend></legend><p2><em>What is your full name?</em></p2></legend>
    <input name="name" input type="text" placeholder="Name(s)" required>
    <legend></legend><p2><em>What is your email address?</em></p2></legend>
    <legend></legend><p2><em>Can you make it to the evening reception of our special day?</em></p2></legend>
    <input name="rsvp" input type="text" placeholder="Please reply Yes/No" required>
    <input type="hidden" id="when" name="when" value="{{when}}">
  </div>
    <button class ="accept">Submit</button>

</div>
  </form>
      </body>

</html>
