<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Annie and Habeeb's Wedding RSVP</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
   <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap" rel="stylesheet">
  </head>

    <body>
<div class="top">
</div>
<div class="form">
  <div class ="info">
  <h1>RSVP</h1>
  <h2>for the evening reception of</h2>
  <h1>Annie & Habeeb's Wedding</h1>
    <p class= "line">________________________________________</p>
    <h2>Date and Time</h2>
    <p>Saturday, May 2, 2020</p>
    <p><b>7:30 PM</b></p>
    <br>
    <h2>Address</h2>
    <p>Samuel Pepys, 48 Upper Thames St, London EC4V 3PT</p>
         <p class= "line">________________________________________</p>

  <form method="post" action="{{ url_for('success') }}">
    <legend></legend><p2>What is your full name?</p2></legend>
    <input name="name" input type="text" placeholder="Name(s)" required>
    <legend></legend><p2>What is your email address?</p2></legend>
    <input name="email" input type="text" placeholder="Email address" required>
    <legend></legend><p2>Can you make it to the evening reception of our special day?</p2></legend>
    <input name="rsvp" input type="text" placeholder="Please reply Yes/No" required>
    <input type="hidden" id="when" name="when" value="{{when}}">
  </div>
    <button class ="accept">Submit</button>

</div>
  </form>
      </body>

</html>
