<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Annie and Habeeb's Wedding RSVP</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>

  <body>
<div class="top">
</div>
<div class="thankyou">
<p id="p01"> Thank you </p> <br>
  <p id="p02"> {{name}}! </p>
   <br>
  <p id="p03">If you've replied 'Yes' we will shortly email you a schedule of the day.</p>
  <br>
  <p id="p03">A note on gifts:</p>
  <p id="p03">The best thing we could ask for is for you to celebrate our special day with us.</p>
</div>
  </body>

</html>
